<div class="container p-3 mt-5">
    <div class="text-center">
        <h2>Welcome back, {{username}}!</h2>
    </div>

    <div class="col-8 mx-auto border p-3 my-4">
        <form id="new-post-form">
            <h3>Write a New Post:</h3>

            <div class="mb-3">
                <label for="post-title" class="form-label">Title:</label>
                <input class="form-control" type="text" id="post-title" name="post-title" placeholder="An inspiring title..." required/>
            </div>

            <div class="mb-3">
                <label for="post-body" class="form-label">Body:</label>
                <textarea class="form-control" id="post-body" name="post-body" placeholder="Some convincing text..." required></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>

    {{!-- Add current posts here --}}
        {{#if posts.length}}
        <div class="col-8 mx-auto">
            <h3>Your Posts:</h3>

            <div class="container mb-2 post-list">
                {{#each posts as |post|}}
                <input type="hidden" name="post-id" value="{{post.id}}">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
                    </div>
                    <div class="card-body">
                        <p>{{post.text}}</p>
                        <a id="edit-btn" href="/post/edit/{{post.id}}" class="btn btn-sm btn-secondary" data-id="{{post.id}}">Edit</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/if}}
</div>

<script src="/js/new.js"></script>